.AddUser{
    background-color: rgb(225, 225, 232);
    min-height: 50vh;
    .userItem{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 20px;
        input{
            margin:5px;
            width: 150px;
            align-self: center;
            border: none;
            padding: 10px;
        }
        b,p{
            text-align: center;
            align-self: center;
            white-space: nowrap;
        }
        button{
            margin: 5px;
            border: none;
            padding: 10px;
            white-space: nowrap;
            align-self: center;
        }
        select{
            cursor: pointer;
            padding: 9px;
            align-self: center;
            
            border: 1px solid transparent
        }
        select:focus{
            border: 1px solid gray
        }
    }
}